
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(45deg, rgb(115, 255, 0), rgb(3, 66, 255));
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100vw;
   justify-content: center;
   align-items: center;
    display: flex;
}
#Github{
    border-radius: 5px;
    height: 30px;
    width: 300px;
    color: #000000
}
#name{
    border-radius: 5px;
    height: 30px;
    width: 300px;
    color: #000000;
}
#linkedinusername{
    border-radius: 5px;
    height: 30px;
    width: 300px;
    color: #000000;
}
#instagramname{
    border-radius: 5px;
    height: 30px;
    width: 300px;
    color: #000000;
}
.name{
    color: #000000;
}
.forLinkedinname{
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}
.instagramnamecontainer{
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}
.forname{
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}
.forsex{
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}
.formale{
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}
.forfemale{
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}
.forage{
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}
.fordob{
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}
.forgithub{
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}
h1{
    font-size: 50px;
    color: #000000;
}

.submit{
    height: 40px;
    width: 100px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
}
.reset{
    border-radius: 10px;
    height: 40px;
    width: 100px;
    background-color: #000000;
    color: #FFFFFF;
}
.smaincontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardcontainer{
    margin-left: 30px;
    margin-right: 30px;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 750px;
    width: 510px;
    border: 2px solid rgb(0, 0, 0);
}
.imgContainer{
    border-radius: 5px;
    border: 0.5px solid #000080;
    position: relative;
    display: flex;
    background-color: #000080;
    width: 508px;
    height:90px;
    justify-content: center;
}
.img1{
    border: 2px solid #000080;
    top: 10px;
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 103px;
}
.nameContainer{
    display: flex;
    width: 510px;
    height:110px;
    position: relative;
    justify-content: center;

}
.nameh1{
    top: 60px;
    position: absolute;
}
.follower_followingcontainer{
    display: flex;
    flex-direction: row;
    width: 510px;
    height:50px;
}
.followersContainer{
    display:flex;
    justify-content: center;
    height: 80px;
    width: 245px;
    margin-left: 10px;
}
.followersh1{
font-size: 24px;
}
.followingsContainer{
    display:flex;
    justify-content: center;
    height: 80px;
    width: 245px;
    margin-right: 10px;
}
.followingsh1{
    font-size: 24px;
}
.bioContainer{
    margin-top: 5px;
    height: 168px;
    width: 510px;
}
.biop{
    height: 168px;
    width: 450px;
    margin-left: 30px;
    margin-right: 30px;
    border: 0px;
    font-size: 24px;
    overflow: hidden;
}
.linkdinsvgContainer{
    margin-left: 23px;
}
.instagramsvgContainer{
    margin-left: 23px;
}
.githubsvgContainer{
    position: static;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 510px;
    margin-left: 23px;
}
.linkdinsvgContainer{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 510px;
    margin-left: 23px;
}
.instagramsvgContainer{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 510px;
    margin-left: 23px;
}

.githubh1{
    margin-left: 10px;
    font-size:25px;
}
.emailContainer{
    margin-left: 23px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 510px;
}
.emailh1{
    margin-left: 10px;
    font-size: 20px;
}
.ageSvgContainer{
    height: 50px;
    width: 510px;
    display: flex;
    flex-direction: row;
}
.ageh1{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.svgAge{
    margin-left: 24px;
}
.svgTimeContainer{
    display: flex;
    align-items: center;
}
.svgTime{
    margin-top: 7px;
    margin-left: 24px;
}
.svgh1{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
@media(max-width:646px){
    .cardcontainer{
background-color: #FFFFFF;
    }
}
